extends base.pug

block content
  selectedVideo(src="/" + selectedVideo.fileUrl, controls)
  div 
    p=selectedVideo.description 
    small=selectedVideo.createdAt
  a(href=`${selectedVideo._id}/edit`) Edit Video &rarr;
  br
  a(href=`${selectedVideo._id}/delete`) Delete Video &rarr;